<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ToDo Edit Page</title>
</head>

<body>
    <h1>ToDo Edit Page</h1>
    <div>
        <form action="/todos/<%=todos.id %>?_method=PUT" method="POST">
            Title: <input type="text" name="title" value="<%=todos.title %>" /> <br />
            ToDo: <input type="text" name="body" value="<%= todos.body %>" /> <br />
            Link/Image: <input type="url" name="img" value="<%= todos.img %>" /> <br />
            Completed: <input type="checkbox" name="completed" <% if(todos.completed === true) {%> checked <%}%> /> <br />
            <input type="submit" name="" value="SAVE" />
        </form>
    </div>
</body>

</html>