<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ToDo Show Page</title>
</head>

<body>
    <h1>ToDo Show Page</h1>
    <div>
        <h3><%= todos.title %></h3>
        <p><%= todos.body %></p>
        <img src="<%= todos.img %>" />
        <p><% if (todos.completed === true) { %> DONE! <br />
            <% } else {%>
            NOT DONE <% } %></p>
    </div>
    <div>
        <a href="/todos">Back to ToDos Index</a>
    </div>
</body>

</html>